@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Task Management</h1>
    <p class="text-center">Task Management is simple solution for managing small projects and its tasks.</p>
</div>